<form action="/cars/add" method="POST">
    <input type="text" class="form-control mb-3" name='model' placeholder="Modelini yozing">
    <label class="form-label">Avtomobil rangi</label>
    <input type="color" class="form-control mb-3" name='color' placeholder="Modelini yozing">
    <input type="number" name="distance" class="form-control mb-3" placeholder="Bosib o`tgan yo`li">
    <input type="number" class='form-control mb-3' name="year" placeholder="Ishlab chiqarilgan yili">
    <button type="submit" class="btn btn-primary mb-3">Jo'natish</button>
</form>